.reset-modal {
  width: 460px!important;

  .form {
    margin-top: 24px;
    width: 328px;
    
  }
  .ant-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    display: flex;
    justify-content: end;
    margin-top: 40px;

    .ant-btn + .ant-btn {
      margin-left: 16px;
    }
  }
}