.not-found-page {
  background: #eef0f3;
  width: 100vw;
  height: 100vh;

  .img {
    display: flex;
    justify-content: center;
    padding-top: 180px;
  }

  .footer {
    text-align: center;

    h2 {
      color: rgba(0,0,0,.85);
      font-size: 24px;
      line-height: 1.8;
      text-align: center;
    }

    .title {
      color: rgba(0,0,0,.45);
      font-size: 14px;
      line-height: 1.6;
      text-align: center;
    }

    .back-home {
      margin: 24px 0 0;
    }
  }
}